@model VeterinariaFronted.Models.User

@{
    ViewData["Title"] = "Perfil de Usuario";
}

<h2>Perfil de Usuario</h2>

<div class="profile-container">
    <h4>Información del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Nombre de Usuario</dt>
        <dd class="col-sm-10">@Model.Username</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Role.RoleName?? "Sin rol asignado"</dd>
    </dl>
</div>

<div class="action-buttons">
    <a asp-action="Logout" class="btn btn-primary">Cerrar Sesión</a>
</div>
