@model Venta

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VeterinariaFronted.styles.css" asp-append-version="true" />
</head>

<h2>Eliminar Venta</h2>

<div>
    <h3>¿Está seguro que desea eliminar esta venta?</h3>
    <div>
     
        <h4>Cantidad Vendida: @Model.CantidadVendida</h4>
    </div>
    <form asp-action="DeleteConfirmed" method="post">

        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
